{% extends "layout.njk" %}

{% block content %}
<div class="card">
    <section class="avatar" 
        style="background: url({{ student.avatar_url }}) no-repeat center center / cover">
    </section>

    <section class="details">
        <form id="form-update" method="POST" action="/students?_method=PUT">
 
            <h3>Editar Detalhes</h3>

            {% include "students/fields.njk" %}

            <input type="hidden" name="id" value="{{ student.id }}">
        </form>

        <form id="form-delete" method="POST" action="/students?_method=DELETE">
            <input type="hidden" name="id" value="{{ student.id }}">
        </form>

        <div class="buttons">
            <button class="button-delete" type="submit" form="form-delete">Deletar</button>
            <button class="button" type="submit" form="form-update" onclick="allFields(event)">Enviar</button>
        </div>    
    </section>
</div>

{% include "students/confirm.njk" %}


{% endblock content %}