
<div class="item">
    <div>Imagem Url</div>

    <input type="url" name="avatar_url" placeholder="http://" value="{{student.avatar_url}}">
</div>

<div class="item">
    <div>Nome Completo</div>
    <input type="text" name="name" value="{{student.name}}">
</div>

<div class="item">
    <div>Data de nascimento</div>
        <input 
            type="date" 
            name="birth" 
            value="{{ student.age }}"
        >
    </div>

<div class="item">
    <div>Email</div>
    <input 
        type="email" 
        name="email" 
        value="{{student.email}}"
    >
</div>

<div class="item">
    <div>Ano escolar</div>
    <select name="educational_level">
        <option disabled hidden selected value="">Selecione o seu ano escolar atual</option>
        
        <option value="5EF" {% if student.educational_level == "5° ano do ensino fundamental" %} selected {% endif %}>
            5° ano do ensino fundamental 
        </option>
        <option value="6EF" {% if student.educational_level == "6° ano do ensino fundamental" %} selected {% endif %}>
            6° ano do ensino fundamental 
        </option>
        <option value="7EF" {% if student.educational_level == "7° ano do ensino fundamental" %} selected {% endif %}> 
            7° ano do ensino fundamental 
        </option>
        <option value="8EF" {% if student.educational_level == "8° ano do ensino fundamental" %} selected {% endif %}>
            8° ano do ensino fundamental 
        </option>
        <option value="9EF" {% if student.educational_level == "9° ano do ensino fundamental" %} selected {% endif %}>
            9° ano do ensino fundamental
        </option>
        <option value="1EM" {% if student.educational_level == "1° ano do ensino médio" %} selected {% endif %}>
            1° ano do ensino médio
        </option>
        <option value="2EM"  {% if student.educational_level == "2° ano do ensino médio" %} selected {% endif %}>
            2° ano do ensino médio 
        </option>
        <option value="3EM" {% if student.educational_level == "3° ano do ensino médio" %} selected {% endif %}>
            3° ano do ensino médio
        </option>    
    </select>
</div>

<div class="item">
    <div>Carga horária semanal</div>
    <input 
        type="number" 
        name="workload" 
        value="{{student.workload}}"
    >
</div>


<div class="item">
    <div>Professor</div>
    <select name="teacher_id">
        <option disabled hidden selected value="">Selecione um professor</option>
    {% for teacher in teacherOptions %}
        <option value="{{ teacher.id }}" {% if student.teacher_id == teacher.id %} selected {% endif %}>
           {{ teacher.name }} 
        </option>
    {% endfor %}
    </select>
</div>
