{% extends "layout.njk" %}

{% block content %}
<div class="card">
    <section class="avatar" 
        style="background: url({{ teacher.avatar_url }}) no-repeat center center / cover">
    </section>

    <section class="details">
        <form id="form-update" method="POST" action="/teachers?_method=PUT">
 
            <h3>Editar Detalhes</h3>

            {% include "teachers/fields.njk" %}

            <input type="hidden" name="id" value="{{ teacher.id }}">
        </form>

        <form id="form-delete" method="POST" action="/teachers?_method=DELETE">
            <input type="hidden" name="id" value="{{ teacher.id }}">
        </form>

         <div class="buttons">
            <button class="button-delete" type="submit" form="form-delete">Deletar</button>
            <button class="button" type="submit" form="form-update">Enviar</button>
        </div> 
    </section>
</div>
    
{% include "teachers/confirm.njk" %}

{% endblock content %}