{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section    
            class="avatar"      
            style="background: url({{teacher.avatar_url}}) no-repeat center center / cover">
        
        </section>

        <section class="details">

            <h3>Detalhes</h3>

            <div class="item">
                <div>Nome Completo</div>
                <div>{{ teacher.name }}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{ teacher.age }}</div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>{{ teacher.educational_level }}</div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>{{"Presencial" if teacher.class_location == "Presencial" else "À distância"}}</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>{{teacher.occupation_area}}</div>
            </div>

            <div class="item">
                <div>Data de cadastro na plataforma</div>
                <div>
                    <span>Desde</span>
                    <span>{{teacher.created_at}}</span>
                </div>
            </div>

            <div class="buttons">
                <a href="/teachers/edit/{{ teacher.id }}" class="button">Editar</a>
            </div>        
        </section>
    </div>


{% endblock content %}