<!DOCTYPE html>
<html>

    <head>
        {% block head %}
            <title>Aula</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
    </head>
    
    <body>
        <header>
            <div class="links">
                <a href="/teachers" >Teachers</a>
                <a href="/students" target="blank">Students</a>
            </div>
        </header>


        {% block content %}{% endblock %}

    <script src="/scripts.js"></script>
    </body>

</html>